.btn.rounded {
    border-radius:30px;
}

.card.horizontal .card-image img {
    margin-top: 20%;
    margin-left: 11%;
    width: 71%;
}

.row {
    margin-bottom: 0;
}
.social {
    margin-right: 5%;
}
.register {
    margin-top: 5%;
}

.row.social {
    margin-left: 8%;
    margin-top: 1%;
}
.no-cuenta {
    margin-bottom: 2%;
}
