<div class="had-container">
    <div class="parallax-container">
        <div class="row"><br>
            <div class="col m10 s10 offset-m4 offset-s4 center">
                <div class="col s12 m7">
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="assets/img/moto-luigi.png" alt="">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <p>Crear una cuenta <b>TMK</b></p><br>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="name" type="text" class="validate">
                                        <label class="active" for="name">Nombre usuario</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="email" type="text" class="validate">
                                        <label class="active" for="email">Correo</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="password" type="text" class="validate">
                                        <label class="active" for="password">Contraseña</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <button class="btn rounded waves-effect waves-light red" type="submit"
                                            name="action">
                                        Crear cuenta
                                    </button>
                                </div>
                                <div class="row social">
                                    <a class="social waves-effect waves-light btn-floating btn social facebook blue">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a class="social waves-effect waves-light btn-floating social google blue-grey">
                                        <i class="fa fa-google"></i>
                                    </a>
                                </div>
                                <div class="row">
                                    <a routerLink="/ingreso">¿Tienes una cuenta?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
