<nav>
    <div class="nav-wrapper">
        <img class="img-nav" width="60" src="assets/img/toad_th.png"
             alt="Toad" title="Toad">
        <a routerLink="/" class="brand-logo">Torneos Mario Kart</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a class="waves-effect waves-light btn-small center valign-wrapper login">
                    <img width="50" src="assets/img/mario_profile.png"
                         alt="Mario" title="Mario" class="circle responsive-img img-login">
                    Iniciar Sesión
                </a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
