ul{
    margin-right: 1%;
}
.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}
.img-nav {
    margin-left: 2%;
}
.brand-logo{
    font-weight: bold;
}
.login .img-login {
    margin-bottom: -18px;
}
.red {
    background-color: #E81929 !important;
    /*background-color: #e60012 !important;*/
}
nav ul a:hover {
    background-color: #F44336;
}
