<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center red-text">Mario Kart</h1>
        <div class="row center">
            <h5 class="header col s12 light">¡Corre donde quieras, cuando quieras!
                Calienta motores y prepárate para la versión definitiva </h5>
            <img class="occupation-img img-responsive"
                 src="assets/img/char_mario.png"
                 alt="Mario" title="Mario">
            <img class="occupation-img img-responsive"
                 src="assets/img/char_inkling.png"
                 alt="Inkling" title="Inkling">
            <img class="occupation-img img-responsive"
                 src="assets/img/char_babies.png"
                 alt="Babies" title="Babies">
        </div>
        <div class="row center">
            <a routerLink="/torneo" id="download-button" class="btn-large waves-effect waves-light red pulse">
                <i class="material-icons left">bubble_chart</i>
                Crear torneo nuevo
            </a>
        </div>
        <br><br>

    </div>
</div>
<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m6">
                <div class="icon-block">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header blue-grey white-text">
                                <img class="occupation-img img-responsive"
                                     src="assets/img/char_blooper.png"
                                     alt="Blooper" title="Blooper">
                                <div class="center valign-wrapper">
                                    <h4>
                                        <b>CLASIFICACIÓN DE LOS TORNEOS</b>
                                    </h4>
                                </div>
                            </div>
                            <div class="collapsible-body">
                                <blockquote class="block-a">
                                    <strong>Torneos:</strong> Conjunto de enfrentamientos con unas reglas
                                    predeterminadas.
                                </blockquote>
                                <blockquote class="block-c">
                                    <strong>Participante:</strong> Cada una de las personas o equipos que toman parte en
                                    un
                                    torneo.
                                </blockquote>
                                <blockquote class="block-a">
                                    <strong>Enfrentamiento:</strong> Cada situación que determina un vencedor. Es
                                    similar
                                    enfrentamiento a encuentro o partido.
                                </blockquote>
                                <blockquote class="block-b">
                                    <strong>Empate:</strong> Cuando dos o más participantes tienen los mismos puntos al
                                    final de
                                    un encuentro, una ronda o un torneo.
                                </blockquote>
                                <blockquote class="block-a">
                                    <strong>Ronda:</strong> Conjunto de enfrentamientos, al final de la roda todos los
                                    participantes han jugado el mismo número de partidos, aunque se puede dar con un
                                    partido de
                                    diferencia.
                                </blockquote>
                                <blockquote class="block-b">
                                    <strong>Estructura interna:</strong> Parte organizativa que se refiere a los
                                    enfrentamientos,
                                    como el orden de los partidos o las reglas de cada encuentro.
                                </blockquote>
                                <blockquote class="block-c">
                                    <strong>Estructura externa:</strong> Parte organizativa que se refiere a las
                                    inscripciones,
                                    instalaciones, publicidad, presupuesto, materiales, etc...
                                </blockquote>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col s12 m6">
                <div class="icon-block">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header blue-grey white-text">
                                <img class="occupation-img img-responsive"
                                     src="assets/img/char_link.png"
                                     alt="Link" title="Link">
                                <div class="center valign-wrapper">
                                    <h4>
                                        <b>CLASIFICACIÓN DE LOS TORNEOS</b>
                                    </h4>
                                </div>
                            </div>
                            <div class="collapsible-body">
                                <blockquote class="block-a">
                                    Torneos de liga: Liga sencilla, Vuelta única, Doble vuelta, Varias vueltas, Liga
                                    dividida.
                                </blockquote>
                                <blockquote class="block-b">
                                    Torneos de eliminación directa o copa:
                                </blockquote>
                                <blockquote class="block-c">
                                    Torneos de doble eliminación.
                                </blockquote>
                                <blockquote class="block-a">
                                    Torneos multinivel.
                                </blockquote>
                                <blockquote class="block-b">
                                    Torneos en línea.
                                </blockquote>
                                <blockquote class="block-a">
                                    Torneos con objetivo único, con doble objetivo, "gana y sigue", con objetivo
                                    central, etc...
                                </blockquote>
                                <blockquote class="block-c">
                                    Torneos en círculo o reloj
                                </blockquote>
                                <blockquote class="block-b">
                                    Torneos en escalera, ascendente, sube y baja.
                                </blockquote>
                                <blockquote class="block-c">
                                    Torneos en red, redes abiertas, redes cerradas.
                                </blockquote>
                                <blockquote class="block-c">
                                    Torneos en pirámide.
                                </blockquote>
                                <blockquote class="block-a">
                                    Torneos en telarañas.
                                </blockquote>
                                <blockquote class="block-b">
                                    Torneos por rotación.
                                </blockquote>
                                <blockquote class="block-c">
                                    Torneos por recorridos.
                                </blockquote>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>
