<div class="container">
    <div class="row">
        <div class="col s3 players">
            <div class="card darken-1 card-players">
                <div class="card-content">
                    <span class="card-title center valign-wrapper red-text">
                        Jugadores
                    </span>
                    <table class="highlight">
                        <tr>
                            <div class="col s2">
                                <img height="40" src="assets/img/mario_th.png" alt=""
                                     class="circle img-profile">
                            </div>
                            <div class="col s10">
                                <div class="col s10">
                                    <span class="black-text center valign-wrapper text-user">
                                        Mario
                                    </span>
                                </div>
                                <div class="col s2">
                                    <a class="btn-add right btn-floating btn-small waves-effect waves-light red center valign-wrapper">
                                        <i class="material-icons">create</i>
                                    </a>
                                </div>
                            </div>
                        </tr>
                        <tr>
                            <div class="col s2">
                                <img height="40" src="assets/img/bowser_th.png" alt=""
                                     class="circle img-profile">
                            </div>
                            <div class="col s10">
                                <div class="col s10">
                                    <span class="black-text center valign-wrapper text-user">
                                        Bowser
                                    </span>
                                </div>
                                <div class="col s2">
                                    <a class="btn-add right btn-floating btn-small waves-effect waves-light red center valign-wrapper">
                                        <i class="material-icons">create</i>
                                    </a>
                                </div>
                            </div>
                        </tr>
                        <tr>
                            <div class="col s2">
                                <img height="40" src="assets/img/luigi_th.png" alt=""
                                     class="circle img-profile">
                            </div>
                            <div class="col s10">
                                <div class="col s10">
                                    <span class="black-text center valign-wrapper text-user">
                                        Luigi
                                    </span>
                                </div>
                                <div class="col s2">
                                    <a class="btn-add right btn-floating btn-small waves-effect waves-light red center valign-wrapper">
                                        <i class="material-icons">create</i>
                                    </a>
                                </div>
                            </div>
                        </tr>
                        <tr>
                            <div class="col s2">
                                <img height="40" src="assets/img/peach_th.png" alt=""
                                     class="circle img-profile">
                            </div>
                            <div class="col s10">
                                <div class="col s10">
                                    <span class="black-text center valign-wrapper text-user">
                                        Peach
                                    </span>
                                </div>
                                <div class="col s2">
                                    <a class="btn-add right btn-floating btn-small waves-effect waves-light red center valign-wrapper">
                                        <i class="material-icons">create</i>
                                    </a>
                                </div>
                            </div>
                        </tr>
                    </table>
                </div>
                <div class="card-action center">
                    <button class="btn waves-effect waves-light grey darken-2" type="submit" name="action">Nuevo jugador
                        <i class="large material-icons right">add_circle</i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col s9">
            <div class="bracket">
                <section class="round quarterfinals">
                    <div class="winners">
                        <div class="matchups">
                            <div class="matchup">
                                <div class="participants">
                                    <div class="participant winner"><span>Mario</span></div>
                                    <div class="participant loser"><span>Peach</span></div>
                                </div>
                            </div>
                            <div class="matchup">
                                <div class="participants">
                                    <div class="participant"><span>Browser</span></div>
                                    <div class="participant"><span>Luigi</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="connector">
                            <div class="merger"></div>
                            <div class="line"></div>
                        </div>
                    </div>
                    <div class="winners">
                        <div class="matchups">
                            <div class="matchup">
                                <div class="participants">
                                    <div class="participant"><span> </span></div>
                                    <div class="participant"><span> </span></div>
                                </div>
                            </div>
                            <div class="matchup">
                                <div class="participants">
                                    <div class="participant"><span> </span></div>
                                    <div class="participant"><span> </span></div>
                                </div>
                            </div>
                        </div>
                        <div class="connector">
                            <div class="merger"></div>
                            <div class="line"></div>
                        </div>
                    </div>
                </section>
                <section class="round semifinals">
                    <div class="winners">
                        <div class="matchups">
                            <div class="matchup">
                                <div class="participants">
                                    <div class="participant"><span>Mario</span></div>
                                    <div class="participant"><span> </span></div>
                                </div>
                            </div>
                            <div class="matchup">
                                <div class="participants">
                                    <div class="participant"><span> </span></div>
                                    <div class="participant"><span> </span></div>
                                </div>
                            </div>
                        </div>
                        <div class="connector">
                            <div class="merger"></div>
                            <div class="line"></div>
                        </div>
                    </div>
                </section>
                <section class="round finals">
                    <div class="winners">
                        <div class="matchups">
                            <div class="matchup">
                                <div class="participants">
                                    <div class="participant"><span> </span></div>
                                    <div class="participant"><span> </span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
